.nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  background: white;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-radius: 5px;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
  color: #0008fc;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 300ms ease-in-out;
}

.nav a:hover {
  color: white;
  background-color: #0008fc;
}

.nav a:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .nav {
    bottom: 0;
    left: 0;
    top: inherit;
    transform: none;
    opacity: 0.8;
  }
}
